<mat-accordion [multi]="true">
  <mat-expansion-panel>

    <mat-expansion-panel-header>{{'accordion.headers.contact' | translate | titlecase}}</mat-expansion-panel-header>
    <app-contact></app-contact>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>{{'accordion.headers.skills' | translate | titlecase}}</mat-expansion-panel-header>
    <app-skills></app-skills>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>{{'accordion.headers.work experience' | translate | titlecase}}</mat-expansion-panel-header>
    <app-experience></app-experience>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>{{'accordion.headers.education' | translate | titlecase}}</mat-expansion-panel-header>
    <app-education></app-education>
  </mat-expansion-panel>
</mat-accordion>
