<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="period">
    <th mat-header-cell *matHeaderCellDef> Periode </th>
    <td mat-cell *matCellDef="let element"> {{element.period}} </td>
  </ng-container>
  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef> Bedrijf </th>
    <td mat-cell *matCellDef="let element"> {{element.company}} </td>
  </ng-container>
  <ng-container matColumnDef="function">
    <th mat-header-cell *matHeaderCellDef> Functie </th>
    <td mat-cell *matCellDef="let element"> {{element.function}} </td>
  </ng-container>


  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Omschrijving </th>
    <td mat-cell *matCellDef="let element"> {{element.description }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
