<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="period">
    <th mat-header-cell *matHeaderCellDef> {{'education.headers.period' | translate | titlecase}} </th>
    <td mat-cell *matCellDef="let element"> {{element.period}} </td>
  </ng-container>

  <ng-container matColumnDef="institute">
    <th mat-header-cell *matHeaderCellDef> {{'education.headers.institute' | translate | titlecase}} </th>
    <td mat-cell *matCellDef="let element"> {{element.institute}} </td>
  </ng-container>


  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> {{'education.headers.description' | translate | titlecase }} </th>
    <td mat-cell *matCellDef="let element"> {{element.description }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
