<mat-form-field>
  <mat-label>{{'select language' | translate | titlecase}}</mat-label>
  <mat-select
    (selectionChange)="onLanguageChange($event.value)"
  >
    <mat-option
      *ngFor="let language of translate.getLangs()"
      [value]="language"
    >
      {{language}}
    </mat-option>

  </mat-select>
</mat-form-field>

