
<h2>{{'skills.computer' | translate | titlecase}}</h2>
<ul>
  <li>Angular</li>
  <li>Javascript</li>
  <li>Typescript</li>
  <li>Jasmine, jest</li>
  <li>CSS / Sass</li>
  <li>SQL, MongoDb, MySQL</li>
  <li>Git</li>
  <li>Java 8 and Java 11</li>
  <li>jUnit</li>
  <li>Spring Boot</li>
  <li>RxJS</li>
  <li>Kubernetes</li>
  <li>Webstorm / Intellij</li>
</ul>

<h2>{{'skills.language.title' | translate | titlecase}}</h2>
<ul>
  <li>{{'skills.language.dutch' | translate}}</li>
  <li>{{'skills.language.english' | translate}}</li>
  <li>{{'skills.language.german.verbal' | translate}}</li>
  <li>{{'skills.language.german.written' | translate}}</li>
</ul>
